section.container.home

 .home__cubeside.d-flex.px-4.align-items-center
   .home__cubeside-left.d-flex.flex-column.col-6
      h1.home__cubeside-left--title Создаем решения
      h2.home__cubeside-left--subtitle Для роста бизнеса
      span.home__cubeside-left--discription На основе анализа данных с алгоритмами реализации
      include ../../components/button/button.pug 
      +buttonComponent('Обсудить проблему', '','width:264px') 
   .home__cubeside-right.col-6
      img.img-fluid(src="../../assets/img/cube-lg--home.png", alt="cube img")

 .home__questions
    img.home__questions-line(src="../../assets/svg/middle-line--home.svg", alt="middle-line")
    .home__questions-block
        .block
            //-  1
            .home__questions-item
               img(src="../../assets/img/cube-sm--home.png", alt="cube-icon")
               span.home__questions-item--text Как найти точки роста и определить цели?
            //-  2
            .home__questions-item.mt-5
               img(src="../../assets/img/cube-sm--home.png", alt="cube-icon")
               span.home__questions-item--text  Как избежать проблем на старте нового бизнеса?
        .block
            //-  3 
            .home__questions-item
               img(src="../../assets/img/cube-sm--home.png", alt="cube-icon")
               span.home__questions-item--text Как увеличить прибыль, управляя ценами?
            //-  4
            .home__questions-item.mt-5 
               img(src="../../assets/img/cube-sm--home.png", alt="cube-icon")
               span.home__questions-item--text Как не попасть в "черную дыру" затрат на    продвижение?

 .home__services#home__services
   img.home__services-line(src="../../assets/svg/bottom-line--home.svg", alt="bottom-line")
   h1.home__services--title Услуги
   .home__services-itembar
      //-  1
      .home__services-item.home__services-item--1  
        img(src="../../assets/svg/document-icon--home.svg", alt="document-icon")
        p.home__services-item--text Разрабатываем маркетинг-план: дорожная карта достижения целей
      //-  2
      .home__services-item.home__services-item--2
        img(src="../../assets/svg/lamp-icon--home.svg", alt="lamp-icon")
        p.home__services-item--text Повышаем эффективность продвижения: аудит существующей модели
      //-  3
      .home__services-item.home__services-item--3
        img(src="../../assets/svg/search-icon--home.svg", alt="search-icon")
        p.home__services-item--text Находим скрытую прибыль: анализ модели ценообразования
      //-  4
      .home__services-item.home__services-item--4
        img(src="../../assets/svg/rocket-icon--home.svg", alt="rocket-icon")
        p.home__services-item--text Запускаем новый проект: start-up маркетинг