.btn-component {
  background-color: #47cf34;
  text-transform: uppercase;
  border: none;
  color: white;
  font: 700 16px 'Montserrat';
  line-height: 20px;
  color: #ffffff;
  padding: 13px 31px;
}
