#blue {
  .about__wrapper {
    padding-top: 105px;
    padding-bottom: 115px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: 0;
      background-image: url('/src/assets/img/icons/two__lines.svg');
      width: 100%;
      height: 100%;
      background-position: 44% 30px;
      background-repeat: no-repeat;
      background-size: 50% 98%;
      z-index: -1;
    }

    .text {
      position: relative;
      margin-top: 90px;
      margin-left: 80px;
      img {
        position: absolute;
        left: -5px;
        top: -60px;
        z-index: -1;
      }
      svg {
        display: none;
      }
      .q {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        text-transform: uppercase;
        color: #282c37;
        margin-bottom: 5px;
      }

      .w {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        text-transform: uppercase;
        color: #282c37;
        margin-bottom: 15px;
      }

      .e {
        max-width: 475px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #282c37;
        margin-bottom: 30px;
      }
    }

    .img {
      img {
        width: 100%;
        margin-top: -25px;
      }
    }
  }

  .four__wrapper {
    .four__container {
      .block {
        margin-bottom: 60px;
        display: flex;
        gap: 64px;

        img {
          width: 35px;
          height: 38px;
        }

        p {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: #282c37;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          &:hover {
            color: #5391dc;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .blue__container {
    padding-top: 85px;
    margin: 0 auto 65px auto;
    position: relative;
    max-width: 1200px;

    .blue__svg {
      position: absolute;
      top: 45px;
      left: 0;
      width: 120px;
      z-index: -1;
      height: 120px;
    }
    &::before {
      content: '';
      position: absolute;
      top: -90px;
      left: 0;
      background-image: url('/src/assets/img/icons/line-serv_web.svg');
      width: 100%;
      height: 100%;
      background-position: 24% -35px;
      background-repeat: no-repeat;
      background-size: 62% 51%;
      z-index: -1;
    }
    .blue__text-title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      text-transform: uppercase;
      color: #282c37;
      padding-left: 60px;
      margin-bottom: 85px;
      width: 100%;
    }
    .block-blue {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 15px;
      grid-template-areas:
        'first second second'
        'first third fourth';
    }
    .block-blue__size {
      background: #6ca7ef;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 32px;
      padding: 10px 15px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        background: #5391dc;
      }
      p {
        font: 500 18px 'Lato';
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #ffffff;
        a {
          color: #ffffff;
          cursor: pointer;
        }
      }
    }

    .block-blue--first {
      max-height: 507px;
      grid-area: first;
      p {
        max-width: 270px;
      }
    }

    .block-blue--second {
      grid-area: second;
      flex-direction: row;
      p {
        max-width: 495px;
      }
    }

    .block-blue--third {
      grid-area: third;
      p {
        max-width: 213px;
      }
    }

    .block-blue--fourth {
      grid-area: fourth;
      p {
        max-width: 213px;
      }
    }

    .responsive__ipad {
      display: none;
    }
  }
}
@media (max-width: 575.98px) {
  .blue__container {
    .block__blue--first,
    .block__blue--third {
      margin-bottom: 15px;
    }
    .block__blue--second,
    .block__blue-first,
    .block__blue--third,
    .block__blue--fourth {
      height: 249px !important;
      img {
        width: 68.74px;
        height: 57.4px;
      }
    }
  }
}
@media (max-width: 767.98px) {
  #blue {
    .about__wrapper {
      padding-top: 40px !important;
      padding-bottom: 80px !important;
      position: relative;
      flex-direction: column-reverse;
      &::before {
        display: none;
      }
      .row > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-top: var(--bs-gutter-y);
        padding: 0;
      }
      .ps-4 {
        padding: 0 !important;
      }

      .text {
        margin-top: 35px !important;
        margin-left: 0px !important;
        text-align: center;
        img {
          display: none;
        }
        svg {
          display: block;
          margin: auto;
          margin-top: 55px;
        }
        .q {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 34px;
          text-transform: uppercase;
          color: #282c37;
          margin-bottom: 5px;
        }

        .w {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          text-transform: uppercase;
          color: #282c37;
          margin-bottom: 15px;
        }

        .e {
          margin: auto;
          width: 300px;
          font-family: 'Lato';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #282c37;
          margin-bottom: 25px !important;
        }
      }

      .img {
        text-align: center;
        img {
          width: 239px !important;
          height: 231.43px !important;
        }
      }
    }

    .four__wrapper {
      .four__container {
        .block {
          margin-bottom: 25px !important;
          gap: 29px !important;

          p {
            font-size: 18px !important;
            line-height: 22px !important;
          }
        }
      }
    }

    .blue__container {
      padding-top: 50px !important;
      &::before {
        display: none;
      }
      .blue__svg {
        display: none;
      }
      .blue__text-title {
        padding-left: 0 !important;
        margin-bottom: 20px !important;
        width: 100%;
        text-align: center;
      }
      .block-blue {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 991.98px) {
  #blue {
    .about__wrapper {
      padding-top: 105px;
      position: relative;
      &::before {
        background: url(../assets/img/icons/two-lines--md.svg) !important;
        background-position: 44% 30px !important;
        background-repeat: no-repeat !important;
        background-size: 60% 91% !important;
      }
      .text {
        position: relative;
        margin-top: 50px;
        margin-left: 10px;
        img {
          position: absolute;
          left: -5px;
          top: -60px;
          z-index: -1;
        }
        .q {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 28px !important;
          line-height: 34px;
          text-transform: uppercase;
          color: #282c37;
          margin-bottom: 5px;
        }

        .w {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          text-transform: uppercase;
          color: #282c37;
          margin-bottom: 15px;
        }

        .e {
          max-width: 475px;
          font-family: 'Lato';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #282c37;
          margin-bottom: 30px;
        }
      }

      .img {
        img {
          width: 259px;
          height: 250.8px;
        }
      }
    }
    .four__wrapper {
      .four__container {
        .block {
          gap: 35px;
        }
      }
    }
    .blue__container::before {
      background-size: 63% 49% !important;
    }
    .block-blue {
      grid-template-columns: repeat(2, 1fr) !important;
      grid-template-rows: repeat(2, 1fr) !important;
      grid-template-areas:
        'first second'
        'third fourth' !important;
    }
    .block-blue__size {
      padding: 50px !important;
    }
    .block-blue--second {
      flex-direction: column !important;
    }
  }
}

@media (max-width: 1199.98px) {
  .about__wrapper::before {
    background-size: 52% 102% !important;
  }
  .q {
    font-size: 35px !important;
  }
  .about__wrapper .text {
    margin-top: 50px !important;
  }
  .blue__container::before {
    background-size: 63% 56% !important;
  }
}
