@import 'fonts';
@import 'command';
@import '../components/header/header';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 500 14px 'Lato-500';
}

body {
  background-color: white;
  font-family: 'Montserrat' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  overflow: overlay;

  /* custom scrollbar */
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a8bbbf;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
}

a {
  text-decoration: none;
  color: #393939;
  cursor: pointer;
}
a:hover {
  color: #393939;
}
li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
