header {
  padding: 20px 0;
  box-shadow: 0px 2px 8px rgba(50, 59, 80, 0.05);
}
.nav-link {
  font: 500 14px 'Lato-500';
  line-height: 17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #282c37;
  &:focus,
  &:visited {
    font: 700 14px 'Lato-700';
  }
}
.nav-item {
  margin-right: 50px;
}
.social-media {
  width: 120px;
}

// start burger-menu
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  width: 24px;
  height: 2.5px;
  background: #282c37;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 2.5px;
    background: #282c37;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  &::before {
    transform: translateY(-8px);
  }
  &::after {
    transform: translateY(8px);
  }
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;

  &::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  &::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

.menu-content {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100.5vh;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transform: translate(200%);
  transition: all 0.5s ease-in-out;

  .menu-btn.open ~ & {
    transform: translate(0);
    transition: all 0.5s ease-in-out;
  }

  .close-menu {
    position: absolute;
    top: 24px;
    left: 28px;
    width: 24px;
    height: 24px;
  }
  &__nav {
    margin: 80px 0;
  }
  &__nav-item {
    margin-bottom: 45px;
  }
}
@media (max-width: 992px) {
  .menu-btn {
    display: flex;
  }
  .navbar-collapse {
    display: none;
  }
}
