header
 .container
    nav.navbar.navbar-expand-lg.navbar-light
        a.navbar-brand(href='#') 
          img(src="../../assets/svg/app-logo--header.svg", alt="logo")
        .menu-btn.open-menu
          .menu-btn__burger
        
        .menu-content
          img.close-menu(src="../../assets/svg/close-icon--burger.svg", alt="close-icon")
          img.menu-content__logo(src="../../assets/svg/app-logo--burger-menu.svg", alt="logo")
          ul.menu-content__nav.align-self-center
            li.menu-content__nav-item
              a.nav-link(href='#') консультации
            li.menu-content__nav-item
              a.nav-link(href='#') Услуги
            li.menu-content__nav-item
              a.nav-link(href='#') Треннинги
            li.menu-content__nav-item
              a.nav-link(href='#') Блог
            .social-media.d-flex.justify-content-between.mt-2
              a(href="http://facebook.com", target="_blank" ) 
                img(src="../../assets/svg/facebook-icon--header.svg", alt="facebook-icon")
              a(href="http://web.whatsapp.com", target="_blank" ) 
                img(src="../../assets/svg/whatsapp-icon--header.svg", alt="whatsapp-icon")
              a(href="http://web.telegram.com", target="_blank" ) 
                img(src="../../assets/svg/telegram-icon--header.svg", alt="telegram-icon")
  
        .navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href='#') консультации
            li.nav-item
              a.nav-link(href='#home__services') Услуги
            li.nav-item
              a.nav-link(href='#') Треннинги
            li.nav-item
              a.nav-link(href='#') Блог
            .social-media.d-flex.justify-content-between
              a(href="http://facebook.com", target="_blank" ) 
                img(src="../../assets/svg/facebook-icon--header.svg", alt="facebook-icon")
              a(href="http://web.whatsapp.com", target="_blank" ) 
                img(src="../../assets/svg/whatsapp-icon--header.svg", alt="whatsapp-icon")
              a(href="http://web.telegram.com", target="_blank" ) 
                img(src="../../assets/svg/telegram-icon--header.svg", alt="telegram-icon")