footer
    .container
        .d-flex.justify-content-between 
            .block
                span.right-text Все права защищены &copy;
            .d-flex
                img(src="../../assets/svg/facebook-icon--footer.svg", alt="facebook-icon")
                img.mx-4(src="../../assets/svg/whatsapp-icon--footer.svg", alt="whatsapp-icon")
                img(src="../../assets/svg/telegram-icon--footer.svg", alt="telegram-icon")
              


        